/* Fonts */
@font-face {
    font-family:header;
    src: url(fonts/BBHHegarty-Regular.ttf);
}
@font-face {
    font-family:body-text;
    src: url(fonts/ElmsSans-Bold.ttf);
}

@font-face {
    font-family: centralNavigation;
    src: url(fonts/ElmsSans-Black.ttf);
}

@font-face {
    font-family: blackBodyText;
    src: url(fonts/ElmsSans-Medium.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}

.homeAbout-page {
    background-color: #004d7d;
}

.mojito-background {
    background-color: #FFDF3F;
}

.jeep-background {
    background-color: #87ceeb;
}

.wavy-background {
    background-color: #FF4960;
}

.stamps-background {
    background-color: #00CDAD;
}

.home-title {
    font-family: header;
    color: white;
    text-align: left;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 75px;
}

.about-text {
    font-family: body-text;
    font-size: 18px;
    color: white;
    text-align: left;
    padding-left: 50px;
    padding-top: 4px;
    max-width: 571px;
}

.home-nav {
    font-family: centralNavigation;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    padding-right: 65px;
    padding-top: 10px;
}

#startButton {
    font-family: centralNavigation;
    color: turquoise;
    font-size: 40px;
    transition: all 0.3s ease;
    margin-left: 870px;
    transform-origin: center;

}

#startButton:hover {
    color: rgb(255, 230, 0);
    transform: translateY(-20px);
    text-decoration: underline;
}

.centralNav {
    font-family: centralNavigation;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 23px;
    transition: all 0.3s ease;
    transform-origin: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
}

.centralNav:hover {
    transform: translateY(-6px);
    text-decoration: underline;
}

a {
    font-family: centralNavigation;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

a:visited {
    color: white;
    text-decoration: none;
}
