/* Fonts */
@font-face {
    font-family:header;
    src: url(fonts/BBHHegarty-Regular.ttf);
}
@font-face {
    font-family:body-text;
    src: url(fonts/ElmsSans-Bold.ttf);
}

@font-face {
    font-family: centralNavigation;
    src: url(fonts/ElmsSans-Black.ttf);
}

@font-face {
    font-family: blackBodyText;
    src: url(fonts/ElmsSans-Black.ttf);
}

:root {
    --button-bg-color: 255, 230, 0;
    --button-bg-alpha: 0.1;
    --button-shadow-color: 0, 0, 0;
    --button-shadow-alpha: 0.3;
}

canvas {
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}

.homeAbout-page {
    background-color: #004d7d;
}

.mojito-background {
    background-color: #FFDF3F;
}

.jeep-background {
    background-color: #87ceeb;
}

.wavy-background {
    background-color: #FF4960;
}

.stamps-background {
    background-color: #00CDAD;
}

.home-title {
    font-family: header;
    color: white;
    text-align: left;
    max-width: 800px;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 78px;
}

.about-text {
    font-family: body-text;
    font-size: 16px;
    color: white;
    text-align: left;
    padding-left: 50px;
    padding-top: 4px;
    max-width: 500px;
}

.home-nav {
    font-family: centralNavigation;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    padding-right: 65px;
    padding-top: 10px;
}

#startButton {
    font-family: centralNavigation;
    color: rgb(255, 230, 0);
    font-size: 30px;
    transition: all 0.3s ease;
    display: flex;
    padding-right: 100px;
    transform-origin: center;

}

#startButton:hover {
    transform: scale(1.2) translateZ(20px);
    text-decoration: underline;
}

.main-navi {
    font-family: body-text;
    color: white;
    text-align: center;
}

.centralNavigation{
    font-family: centralNavigation;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    perspective: 1000px;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
